* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: #523A28;
  text-align: center;
}
h1{
    color: black;
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 8vmin;
  color: #A47551;
  background-color: #34251a;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #D0B49F;
    border: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  background-color: #D0B49F;
  border: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#msg{
  color: aliceblue;
  font-size: 6vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.msg-container{
  height: 90vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hide{
  display: none;
}